<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
    <a class="navbar-brand" href="">Share File Web Portal</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sf-group-data">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Groups
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sf-group-member-data">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Members
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sf-users">
                <span class="oi oi-people" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sf-folders">
                <span class="oi oi-folder" aria-hidden="true"></span> Folders
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sf-folder-access-user">
                <span class="oi oi-person" aria-hidden="true"></span> User Access
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sf-folder-access-group">
                <span class="oi oi-person" aria-hidden="true"></span> Group Access
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
